fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
requests
beautifulsoup4
pandas
pdfplumber
pypdf
rapidfuzz
langchain
langchain-community
langchain-groq
langchain-huggingface
chromadb
torch
python-dotenv
gunicorn