fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
requests
beautifulsoup4
pandas
pdfplumber
rapidfuzz
sentence-transformers
langchain
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
python-dotenv
gunicorn